BLOCK RESETPATHS ;
BLOCK ASYNCPATHS ;

LOCATE COMP "pclk" SITE "C1" ;
IOBUF PORT "pclk" IO_TYPE=LVCMOS33 ;

LOCATE COMP "rst_n" SITE "L14" ;
IOBUF PORT "rst_n" IO_TYPE=LVCMOS33 ;

LOCATE COMP "key[0]" SITE "C8" ;
LOCATE COMP "key[1]" SITE "B8" ;
LOCATE COMP "key[2]" SITE "E3" ;
LOCATE COMP "key[3]" SITE "F3" ;
LOCATE COMP "key[4]" SITE "G3" ;
LOCATE COMP "key[5]" SITE "H3" ;
LOCATE COMP "key[6]" SITE "J2" ;
LOCATE COMP "key[7]" SITE "J3" ;
LOCATE COMP "key[8]" SITE "K2" ;
LOCATE COMP "key[9]" SITE "K3" ;
LOCATE COMP "key[10]" SITE "L3" ;
LOCATE COMP "key[11]" SITE "N5" ;
LOCATE COMP "key[12]" SITE "P6" ;
IOBUF PORT "key[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[8]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[9]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[10]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[11]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "key[12]" IO_TYPE=LVCMOS33 ;

LOCATE COMP "pitch[0]" SITE "N6" ;
LOCATE COMP "pitch[1]" SITE "P7" ;
IOBUF PORT "pitch[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "pitch[1]" IO_TYPE=LVCMOS33 ;

LOCATE COMP "switch" SITE "N4" ;
IOBUF PORT "switch" IO_TYPE=LVCMOS33 ;

LOCATE COMP "autoplay_n" SITE "M13" ;
IOBUF PORT "autoplay_n" IO_TYPE=LVCMOS33 ;

LOCATE COMP "buzzer" SITE "P8" ;
IOBUF PORT "buzzer" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;

LOCATE COMP "speaker" SITE "N8" ;
IOBUF PORT "speaker" IO_TYPE=LVCMOS33 SLEWRATE=FAST ;

LOCATE COMP "seg1[0]" SITE "A10" ;
LOCATE COMP "seg1[1]" SITE "C11" ;
LOCATE COMP "seg1[2]" SITE "F2" ;
LOCATE COMP "seg1[3]" SITE "E1" ;
LOCATE COMP "seg1[4]" SITE "E2" ;
LOCATE COMP "seg1[5]" SITE "A9" ;
LOCATE COMP "seg1[6]" SITE "B9" ;
LOCATE COMP "seg1[7]" SITE "F1" ;
LOCATE COMP "seg1[8]" SITE "C9" ;
IOBUF PORT "seg1[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg1[8]" IO_TYPE=LVCMOS33 ;

LOCATE COMP "seg2[0]" SITE "C12" ;
LOCATE COMP "seg2[1]" SITE "B14" ;
LOCATE COMP "seg2[2]" SITE "J1" ;
LOCATE COMP "seg2[3]" SITE "H1" ;
LOCATE COMP "seg2[4]" SITE "H2" ;
LOCATE COMP "seg2[5]" SITE "B12" ;
LOCATE COMP "seg2[6]" SITE "A11" ;
LOCATE COMP "seg2[7]" SITE "K1" ;
LOCATE COMP "seg2[8]" SITE "A12" ;
IOBUF PORT "seg2[0]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[1]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[2]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[3]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[4]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[5]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[6]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[7]" IO_TYPE=LVCMOS33 ;
IOBUF PORT "seg2[8]" IO_TYPE=LVCMOS33 ;
